<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="login-container">
    <h2>Cadastre-se</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <input type="text" formControlName="nome" placeholder="Nome completo" required>
      <input type="email" formControlName="email" placeholder="Email" required>
      <input type="password" formControlName="senha" placeholder="Senha" required>
      <input type="password" formControlName="confirmarSenha" placeholder="Senha novamente" required>

      <button type="submit" class="btn-login">Criar conta</button>


    </form>

  </div>
</body>
</html>
